@mixin justify($vertical-align: center, $flex-direction: row) {
  display: flex;
  flex-wrap: wrap;
  align-items: $vertical-align;
  justify-content: space-between;
  flex-direction: $flex-direction;
}
